{% extends 'templates/html/base.html' %}

{% block child_content %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-2">
                <a href="{% url 'client:client-create' %}">
                    <button class="btn btn-sm btn-warning">Dodaj klienta</button>
                </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                Wyszukiwarka klientów
            </div>
        </div>
        <div class="row mt-3">
            <table class="table table-sm repair-order-table">
                <thead>
                  <tr>
                    <th class="col-id" scope="col" title="Number">ID</th>
                    <th scope="col" title="Name">Imię Nazwisko</th>
                    <th class="col-description" scope="col" title="Weight">Telefon</th>
                    <th class="col-status" scope="col" title="birthDate">Email</th>
                    <th scope="col" title="mobileNumber">Adres</th>
                    <th scope="col" title="created_date">Data rejestracji</th>
                  </tr>
                </thead>
                <tbody>
                    {% for client in client_list %}
                    <tr>
                        <th scope="col">{{client.id}}</th>
                        <td>
                            <a href="{% url 'client:client-detail' client.id %}">
                                {{client.first_name}} {{client.last_name}}
                            </a>                            
                        </td>
                        <td>
                            <div>
                            {{client.mobile}}
                            </div>
                        </td>
                        <td>
                            {{client.email}}                        
                        </td>
                        <td>                            
                            <div>
                                {{address.street}}
                                {{address.home_number}}
                                {{address.zip_code}}
                                {{address.city}}
                                {{address.country}}
                            </div>
                        </td>
                        <td>
                            {{client.registration_date}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}